
/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
  font-weight: 300; }

#map {
  height: 500px;
  width: 100%; }

.songkick-attribution {
  float: right; /* TODO: use flexbox, not float */
  margin: 10px;
  height: 50px;
  width: auto; }


.map-overlay-container {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 1; }

.map-overlay {
  /*font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 10px;
  box-shadow:0 1px 2px rgba(0,0,0,0.20); }

.map-overlay h2,
.map-overlay p {
  margin: 0 0 10px; }

/* Custom Mapbox styles */
.concert-marker {
  /* TODO: use an image instead of just color */
  /*background-image: url('images/concert.svg');
  background-size: cover;*/
  background: #A0D1CA;
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer; }


/* Override mapbox styles */
.mapboxgl-popup-content {
  background: rgba(255, 255, 255, 0.95);
  padding: 20px; }
