/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
  color: #444;
}

#map {
  position: fixed;
  height: 100vh;
  width: 70%;
}

#concerts {
  position: relative;
  width: 30%;
  margin-left: 70%;
  height: 100%;
  font-family: sans-serif;
  overflow-y: scroll;
  background-color: #fafafa;
}
.concert {
  padding:  25px 50px;
  line-height: 25px;
  border-bottom: 1px solid #ddd;
  opacity: 0.25;
}
.concert.active {
  opacity: 1;
}
.concert:last-child {
  border-bottom: none;
}
.concert-info {
  display: flex;
  justify-content: space-between;
}

#artist-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.songkick-attribution {
  position: fixed;
  bottom: 0;
  /*right: 0;*/
  padding: 5px;
  height: 40px;
  width: auto;
}
