@font-face {
  font-family: 'TelefonNormal';
  src: url('./fonts/Telefon-Normal.otf');
}

@font-face {
  font-family: 'TelefonBoldItalic';
  src: url('./fonts/Telefon-BoldItalic.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'TelefonNormal', Verdana, sans-serif;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'TelefonBoldItalic', Verdana, sans-serif;
}

#map {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.event-marker {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: width 1s ease-in-out, height 1s ease-in-out, z-index 1s ease-in-out;
  z-index: 1;
}
.event-marker.active {
  width: 100px;
  height: 100px;
  z-index: 2;
}
.location-marker {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(50, 85, 164, 0.75);
  opacity: 0.9;
}
.location-marker-accuracy {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(50, 85, 164, 0.75);
  opacity: 0.2;
}

.mapboxgl-map {
  font-family: inherit;
  font-size: inherit;
}

.mapboxgl-popup {
  transform: translate(0) !important;
  position: absolute;
  top: auto;
  bottom: 3em;
  z-index: 3;
}
@media (min-width: 768px) {
  .mapboxgl-popup {
    left: 3em;
  }
}
.mapboxgl-popup-tip { display: none; }
.mapboxgl-popup-content {
  background-color: rgba(255, 255, 255, 0.93);
  padding: 3em;
  border-radius: 1px;
}
@media (min-width: 768px) {
  .mapboxgl-popup-content {
    max-width: 400px;
  }
}

.event-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.artist-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}